.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#panel {
  background-color: black;
  width: 20vw;
  height: 30vh;
}

#display {
  color: white;
}
.buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
}

#clear {
  background-color: brown;
  width: 50%;
  height: 40px;
  display: flex;
  flex-grow: 5;
  justify-content: center;
  border: chocolate;
}

#clear:hover {
  background-color: green;
}
#divide,
#multiply {
  width: 25%;
  height: 40px;
  display: flex;
  flex-grow: 5;
  justify-content: center;
}
.smallButtons {
  width: 25%;
  height: 40px;
  display: flex;
  flex-grow: 5;
  justify-content: center;
}

#zero {
  max-width: 50%;
  height: 40px;
  display: flex;
  flex-grow: 5;
  margin-top: -40px;
  justify-content: center;
}
#equals {
  display: flex;
  width: 25%;
  height: 80px;
  justify-content: center;
  align-items: center;
}

#decimal {
  width: 25%;
  height: 40px;
  display: flex;
  margin-top: -40px;
  justify-content: center;
}

#display {
  height: 40%;
}
