.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#panel {
  background-color: black;
  width: 60vw;
  height: 50vh;

  flex-wrap: wrap;
}

#display {
  color: white;
}
.buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
}

#clear {
  background-color: brown;
  width: 50%;
  height: 60px;
  display: flex;
  transition: all 0.1s ease-in-out;
  justify-content: center;
}

#clear:active {
  background-color: cornflowerblue;
  transform: scale(1.1);
}

button {
  transition: all 0.1s ease-in-out;
}

button:active {
  background-color: cornflowerblue;

  transform: scale(1.1);
}
#divide,
#multiply {
  width: 25%;
  height: 60px;
  display: flex;
  justify-content: center;
}
.smallButtons {
  width: 25%;
  height: 60px;
  display: flex;
  justify-content: center;
}

#zero {
  max-width: 50%;
  height: 60px;
  display: flex;
  flex-grow: 5;
  margin-top: -60px;
  justify-content: center;
}
#equals {
  display: flex;
  width: 25%;
  height: 120px;
  justify-content: center;
  align-items: center;
}

#decimal {
  width: 25%;
  height: 60px;
  display: flex;
  margin-top: -60px;
  justify-content: center;
}

#display {
  height: 40%;
}
